@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  --background: #000000;
  --container-background: #171717;
  --foreground: #ffffff;
  --skyblue: #17b6ff;
  --skyblue-dull: #135d80;
  --skyblue-transparent: #17b6ff99;
  --uo-green: #1de840;
  --uo-yellow: #e3e81d;

  --text-light: #d0d0d0;
  --text-grey: #828282;
}

body {
  background: var(--background);
  color: var(--foreground-rgb);
  overflow-x: hidden;
}

/* Home */

.main-size {
  margin-top: 20vh;
}

.main-view {
  margin-top: 10vh;
  margin-bottom: 15vh;
}

.tile-container {
  margin-top: 20vh;
  margin-bottom: 20vh;
}

.spacer {
  height: 4rem;
}

.header-text {
  font-weight: 600;
  font-size: 3em;
  color: white;
  padding: 30px;
  transition: color 0.5s ease;
}

.image-uo {
  background-image: var(--bg-image);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  padding-top: 56.25%;
  height: auto;
  border-radius: .25rem;
}


@media (max-width: 750px) {
  .header-text {
    font-size: 30px;
  }
}


/* animations */

.bounce-in {
  animation: bounceIn 0.7s ease forwards;
  transform-origin: center;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  50% {
    transform: scale(1.1);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}