@tailwind base;
@tailwind components;
@tailwind utilities;

.company-container {
    width: 100%;
}

.square-logo {
    width: 4rem;
    aspect-ratio: 1;
    background-color: white;
    overflow: hidden;
    border-radius: 10px;
}

.company-name-container {
    width: 60%;
    padding-left: 16px;
}

.year-container {
    width: 30%;
}

.company-name {
    font-size: 30px;
    font-weight: 600;
    color: white;
}

.company-job {
    font-size: 18px;
    color: var(--text-grey);
}

.company-year {
    font-size: 25px;
    font-weight: 500;
    color: var(--text-light)
}

@media (max-width: 750px) {
    .square-logo {
        width: 75px;
    }

    .company-name {
        font-size: 20px;
    }

    .company-job {
        font-size: 12px;
    }

    .company-year {
        font-size: 12.5px;
    }
}