@tailwind base;
@tailwind components;
@tailwind utilities;

@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.education-main {
    margin-top: 10vh;
    margin-bottom: 15vh;
}

.uo-plain {
    width: 100%;
    height: auto;
    background: var(--container-background);
    border-radius: 0.5rem;
}

.uo-text-box {
    position: relative;
    width: 600px;
    background: var(--container-background);
    border-radius: 0.5rem;
}

.uo-text-box::before,
.uo-text-box::after {
    content: "";
    position: absolute;
    inset: -0.25rem;
    z-index: -1;
    background: conic-gradient(from var(--gradient-angle),
            var(--uo-green),
            var(--uo-yellow),
            var(--uo-yellow),
            var(--uo-green));
    border-radius: 0.6rem;
    animation: gradient-rotation 15s linear infinite;
}

.uo-text-box::after {
    filter: blur(0.75rem);
    opacity: 0.5;
}


@media (max-width: 750px) {
    .uo-text-box {
        width: 90%;
    }
}

@keyframes gradient-rotation {
    0% {
        --gradient-angle: 0deg;
    }

    100% {
        --gradient-angle: 360deg;
    }
}