@tailwind base;
@tailwind components;
@tailwind utilities;

.triangle {
    position: relative;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid var(--skyblue);
    animation: up-down 3s ease-in-out alternate infinite;

}

.triangle::before {
    position: absolute;
    content: "";
    bottom: 5.5px;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 21px solid black;
}

.triangle::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: -20px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid var(--skyblue);
    filter: blur(8px);
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, border-top 0.3s ease-in-out;
}

.triangle:hover::after {
    opacity: 0.75;
    border-top: 30px solid var(--skyblue);

}

@keyframes up-down {

    0% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(-5px);
    }

}

.skill-icon {
    filter: grayscale(1);
    transform: scale(1);
    transition: filter 0.3s ease, transform 0.3s ease;
}

.skill-icon:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}