@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
:root:not(.dark) {
  --background: #ffffff;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

.dark {
  --background: #000000;
  --foreground: #ffffff;
}


body {
  background: var(--background);
  color: var(--foreground-rgb);
  transition: background 0.3s ease;
}