@tailwind base;
@tailwind components;
@tailwind utilities;

.main-size {
    margin-top: 20vh;
}

.tilt-size {
    max-width: 20rem;
    position: relative;
    z-index: 3;
}

.name-text {
    background-color: var(--skyblue);
    background:
        linear-gradient(180deg, var(--skyblue-transparent), var(--skyblue-transparent)),
        linear-gradient(180deg, hsla(0, 0%, 100%, 0.1), hsla(0, 0%, 100%, 0.1)),
        url("/glitch.png");
    -webkit-background-clip: text;
    -webkit-text-fill-color: #00000000;
    background-clip: text;
    font-size: 100px;
    line-height: 90px;
    font-weight: 700;
    /* text-shadow: 0 0 0px var(--skyblue-transparent); */
    white-space: nowrap;
}

.graph-container {
    position: relative;
    overflow: hidden;
    margin-top: 10vh;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.graph {
    background: linear-gradient(180deg,
            rgba(0, 0, 0, 0) 0px,
            var(--skyblue) 0%,
            var(--skyblue) 2px,
            rgba(0, 0, 0, 0) 0px),
        linear-gradient(90deg,
            rgba(0, 0, 0, 0) 0px,
            var(--skyblue) 0%,
            var(--skyblue) 3px,
            rgba(0, 0, 0, 0) 0px);
    background-size: 4em 2em, 4em 2em;
    height: 30em;
    width: 100em;
    transform: perspective(10em) rotateX(40deg) scale(2);
    animation: pulse-grid 10s infinite ease-in-out;
}

@keyframes pulse-grid {

    0%,
    50%,
    100% {
        filter: brightness(1.1);
    }

    25%,
    75% {
        filter: brightness(0.5);
    }
}

.blur-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    pointer-events: none;
    background: radial-gradient(circle at top,
            rgba(0, 0, 0, 0) 50%,
            black 70%);
    mix-blend-mode: multiply;
}

.blur-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30vh;
    background: linear-gradient(0deg,
            rgba(0, 0, 0, 0) 20%,
            black 70%);
    pointer-events: none;
    z-index: 1;
}

@media (max-width: 750px) {

    .name-text {
        font-size: 10vw;
    }

    .graph-container {
        height: 40vh;
    }

    .graph {
        transform: perspective(10em) rotateX(40deg) scale(2);
        background-size: 2em 1em, 2em 1em;
        height: 20em;
        width: 40em;
    }

    .blur-overlay {
        position: absolute;
        top: 40vh;
        left: 0%;
        width: 100vw;
        height: 55vh;
        pointer-events: none;
        background: radial-gradient(circle at top,
                rgba(0, 0, 0, 0) 30%,
                black 60%);
        mix-blend-mode: multiply;
    }

    .blur-line {
        height: 15vh;
    }
}